---

---
<div id="groovy">
    <button id="abutton">A Button</button>
</div>


<script>
    const aButton = document.querySelector(`#abutton`)
    aButton!.addEventListener('click', () => bingo());

    const bingo = () => {
        alert('bingo');
    }
</script>
